<?xml version="1.0" encoding="UTF-8"?>
<configuration> <!-- status="ALL" -->

 	<!-- <DynamicThresholdFilter key="loginId" defaultThreshold="ERROR"
	 	onMatch="ACCEPT" onMismatch="NEUTRAL">
		 <KeyValuePair key="admin1" value="DEBUG"/>
	</DynamicThresholdFilter>  -->

	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] 
				%-5level %logger{36} - %msg%n" />
		</Console> 
		<RollingFile name="userActivity"
			fileName="../ElectronicRestaurant/logs/userActivity.log" filePattern="../logs/application-%d{MM-dd-yyyy}-%i.log">
			<ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout>
				<pattern>
					%d{dd.MM.yyyy HH:mm:ss.SSS} %-5level  %l %M:
					%msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy min="1" max="4" />
		</RollingFile>
		
		<RollingFile name="systemActivity"
			fileName="../ElectronicRestaurant/logs/systemLog.log" filePattern="../logs/application-%d{MM-dd-yyyy}-%i.log">
			<PatternLayout>
				<pattern>
					%d{dd.MM.yyyy HH:mm:ss.SSS} %-5level  %l %M: <!-- %c{36} -->
					%msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy min="1" max="4" />
		</RollingFile>
	</appenders>
	
	<loggers>
		<!-- <Logger name="User Activity" > 
			<level value="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
	      	<AppenderRef ref="userActivity"/>
	    </Logger>  -->
	    
		<root level="DEBUG"> <!-- additivity="false" -->
			<!-- <appender-ref ref="Console" /> -->
			<appender-ref ref="systemActivity"  />
			<appender-ref ref="userActivity" />
			<!-- <appender-ref ref="userActivity" level="TRACE"/> -->
		</root>
	</loggers>
</configuration>






<!-- <?xml version="1.0" encoding="UTF-8"?> <configuration status="WARN"> 
	<appenders> <Console name="Console" target="SYSTEM_OUT"> <PatternLayout pattern="%d{HH:mm:ss.SSS} 
	[%t] %-5level %logger{36} - %msg%n"/> </Console> </appenders> <loggers> <root 
	level="warn"> <appender-ref ref="Console"/> </root> </loggers> </configuration> -->
