



/* Body */

.body{
	font-family: Verdana;
	color:blue;
}

/*  Headers */

.login{
	right: 100%;
	color: red;
}

.registration{
	right: 100%;
	color:green;
}

.or{
	right:100%;
	color:blue;
}

.cart{
	right:100%;
	line-height: 50%;
}



/* Tables */
.dishTableAdm{
	text-align: center;
}

.dishTableNarrow{
	text-indent: 0mm;
}

.listOfCat{
	width: 100px;
	text-align: center;
}
.listOfCatNar{
	width: 30px;
		text-align: center;
}

.messages{
	width: 20 px;
	color: red;
}

.addDish{
	width:300px;
}

.addDishNarrow{
	width:275px;
}

.menuTable{ 
border-collapse:collapse; 
border:1px solid #000000; 
}

.menuTableHeader{ 
text-align:center; 
background:none repeat scroll 0 0 #B5B5B5; 
border-bottom:1px solid #000000; 
padding:2px; 
widht:50%;
hight:50%;
} 

.menuTableOddRow{ 
text-align:center; 
background:none repeat scroll 0 0 #FFFFFFF; 
widht:50%;
hight:50%;
}

.menuTableEvenRow{ 
text-align:center; 
background:none repeat scroll 0 0 #D3D3D3; 
widht:50%;
hight:50%;
}


